<h1
(click)="model.address = '2268 five avenue new york'"
>Wellcome, type the address (Number, Street Name, City)</h1>

<mat-form-field class="example-form-field" appearance="fill">
  <mat-label>Clearable input</mat-label>
  <input
    matInput
    type="text"
    (keyup)="buildUrl()"
    [(ngModel)]="model.address"
  />
</mat-form-field>

<h3 *ngIf="error">
  <mat-icon color="warn">error</mat-icon>
  Not found, try again
</h3>

<div class="grid" *ngIf="forecasts?.length">
  <mat-card *ngFor="let forecast of forecasts" class="card">
    <mat-card-header>
      <mat-card-title>
        {{ forecast.shortForecast }}, {{ forecast.name }},
        {{ forecast.temperature }} - {{ forecast.temperatureUnit }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ forecast.startTime | date }} - {{ forecast.endTime | date }}
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="forecast.icon" alt="Photo of a Shiba Inu" />
    <mat-card-content>
      <p>
        {{ forecast.detailedForecast }}
      </p>
    </mat-card-content>
    <mat-card-footer>
        {{ forecast.windSpeed }},
        Direction: {{ forecast.windDirection }}
    </mat-card-footer>
  </mat-card>
</div>
